body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #274445;
}

code {
  font-family: 'Courier New', monospace;
}

.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
  color: #fa8072;
 font-weight: bold;
}

.nav-link {
  color: white;
  font-size: 6vw;
  font-weight: 400;
  @media (min-width: 576px) {
    font-size: 2vw;
  }
}

button.player {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  border-radius: 15%;
  background-color: #A7F09E;

}

button:active {
  background-color: #7cb375;
}
